

  <div class="description1">
<%= search_form_for @q, :url => lszbs_path(@zhibiao) do |f| %>
<p>
<%= f.search_field :wg_cont, :placeholder => "可以搜索API分类、炼厂、产品", :class => "form-control" %><br>
<%= submit_tag "搜索指标", :class => "btn btn-primary" %>


</p>

<h5>建议您使用电脑查看或手机横屏查看<br><br>有任何需求或意见，添加客服微信“jichuyou2019”</h5>


</div>

<br>

<table class="table table-bordered">
<thead>
  <tr>
    <th>API分类</th>
      <th>厂家</th>
        <th>型号</th>
          <th>40度</th>
            <th>100度</th>
              <th>粘指</th>
                <th>倾点</th>
                  <th>闪点</th>
                    <th>密度</th>
                      <th>芳烃含量</th>
                        <th>蒸发损失</th>
                          <th>颜色</th>

                              <th>氧化安定性</th>
                                  <th>酸值</th>
    <th>硫含量</th>


  </tr>
</thead>
<tbody>
  <% @zhibiaos.each do |zhibiao| %>
    <tr>
      <td>
        <%= zhibiao.sj %>
      </td>
        <td>
          <%= zhibiao.cj %>
        </td>
          <td>
            <%= zhibiao.xh %>
          </td>
            <td>
              <%= zhibiao.ss %>
            </td>
              <td>
                <%= zhibiao.yb %>
              </td>
                <td>
                  <%= zhibiao.nz %>
                </td>
                  <td>
                    <%= zhibiao.qd %>
                  </td>

      <td>
        <%= zhibiao.sd %>
      </td>
      <td>
        <%= zhibiao.md %>
      </td>
        <td>
          <%= zhibiao.ft %>
        </td>
          <td>
            <%= zhibiao.zf %>
          </td>
            <td>
              <%= zhibiao.ys %>
            </td>

                <td>
                  <%= zhibiao.yh %>
                </td>
                  <td>
                    <%= zhibiao.sz %>
                  </td>
                    <td>
                      <%= zhibiao.lh %>
                    </td>

    </tr>
  <% end %>
</tbody>
</table>
    <%= paginate @zhibiaos %>
<% end %>
