
<div class="description2">


<br>
<div class="panel panel-default">
  <div class="panel-heading">
<h4>基础油市场价区<br><h5>如果您有报价需要展示或希望采购基础油，我们将为您对接相关的公司！请添加微信 “  jichuyou2019  ” </h5> </h4>
    <br></div>
<table class="table table-hover table-striped">
  <thead>

<tr class="warning">

      <th><h5>品名</h5></th>
      <th><h5>型号</h5></th>
      <th><h5>报价</h5></th>
      <th><h5>提货</h5></th>
      <th><h5>时间</h5></th>


    </tr>

  </thead>
  <tbody>
    <% @jgs.each do |jg| %>
      <tr>
         <td>
           <h4>
          <%= jg.title %>
          </h4>
        </td>
        <td>
          <h4><%= jg.description %></h4>
        </td>
        <td>
          <h4><%= jg.price %></h4>
        </td>
          <td>
        <h4>
     <%= jg.quantity %></h4>
      </td>
        <td>
          <h4><%= jg.time %></h4>
        </td>

      </tr>
      <% end %>
    </tbody>
    </table>

      </div>
      </div>
