<h2> Product List </h2>
<div class="pull-right" style="padding-bottom: 20px;">
  <%= link_to("新增产品", new_admin_post_path, class: "btn btn-primary btn-sm") %>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th width="220">Product Pic</th>
      <th>Name</th>
      <th>Price</th>
      <th width="100"> Options</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <%= post.id %>
        </td>
        <td>
          <%= link_to post_path(post) do %>
            <% if post.image.present? %>
              <%= image_tag(post.image.thumb.url, class: "thumbnail") %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= post.title %>
        </td>
        <td>
          <%= post.price %>
        </td>
        <td>
          <%= link_to("Edit", edit_admin_post_path(post)) %>
          <%= link_to("Delete", admin_post_path(post),    class: "btn btn-sm btn-default",
          method: :delete, data: { confirm: "Are you sure?" } )%>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
