<h2> New Product </h2>

<%= simple_form_for [:admin, @post] do |f| %>

  <div class="group">
    <%= f.input :title %>
  </div>


  <div class="group">
    <%= f.input :quantity %>
  </div>

  <div class="group">
    <%= f.input :price %>
  </div>

  <div class="group">
  <%= f.input :description, as: :ckeditor %>
</div>




  <div class="group">
    <%= f.input :image, as: :file %>
 </div>


  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>

<script type="text/javascript" src="${pageContext.request.contextPath}/ckeditor/ckeditor.js"></script>
