<br>

  <div class="description1">

    <table class="table table-striped table-bordered">
    <tr>
      <th>API分类</th>
      <td><%= @zhibiao.sj %></td>
    </tr>

     <tr>
      <th>厂家</th>
      <td><%= @zhibiao.cj %></td>
     </tr>

      <tr>
       <th>产品</th>
       <td><%= @zhibiao.xh %></td>
      </tr>

       <tr>
        <th>40度运动粘度</th>
        <td><%= @zhibiao.ss%></td>
       </tr>

        <tr>
         <th>100度运动粘度</th>
         <td><%= @zhibiao.yb %></td>
        </tr>

         <tr>
          <th>粘度指数</th>
          <td><%= @zhibiao.nz %></td>
         </tr>

          <tr>
           <th>倾点</th>
           <td><%= @zhibiao.qd %></td>
          </tr>

           <tr>
            <th>闪点</th>
            <td><%= @zhibiao.sd %></td>
           </tr>

            <tr>
             <th>密度</th>
             <td><%= @zhibiao.md %></td>
            </tr>

             <tr>
              <th>芳烃含量</th>
              <td><%= @zhibiao.ft %></td>
             </tr>

              <tr>
               <th>蒸发损失</th>
               <td><%= @zhibiao.zf %></td>
              </tr>

               <tr>
                <th>颜色</th>
                <td><%= @zhibiao.ys %></td>
               </tr>



                 <tr>
                  <th>氧化安定性</th>
                  <td><%= @zhibiao.yh %></td>
                 </tr>

                  <tr>
                   <th>酸值</th>
                   <td><%= @zhibiao.sz %></td>
                  </tr>

                   <tr>
                    <th>硫含量</th>
                    <td><%= @zhibiao.lh %></td>
                   </tr>
</table>



                      <%= link_to("想对比指标？点击这里对比所有指标数据", lszbs_path, :class => "btn btn-primary") %>


</div>
