<h2> 修改线路 </h2>

<%= simple_form_for [:admin, @wl] do |f| %>

  发货地<div class="group">
    <%= f.input :title %>
  </div>

  送货地<div class="group">
    <%= f.input :description %>
  </div>

  运输方式<div class="group">
    <%= f.input :quantity %>
  </div>

  报价<div class="group">
    <%= f.input :price %>
  </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>
