<!DOCTYPE html>
<html>
    <head>
        <title>基础油 | jichuyou.cn  </title>
        <%= csrf_meta_tags %>
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <div class="container-fluid">
           <div class="row">
   <%= render "common/navbar" %>

 </div>
 <br><br><br><br><br>
            <%= render "common/flashes" %>

            <%= yield %>
        </div>
 <br><br><br><br><br>
        <%= render "common/footer" %>


    </body>
</html>
